.experience-container {
    background-color: #e0e0e0;
    width: 100%;
    border-radius: 10pt;
}

.experience-content-wrapper {
    padding-top: 10pt;
    padding-bottom: 10pt;
    width: 80%;
    margin: auto;
}

.experience-fullname-label {

}