.register-modal-form-container {
    padding-top: 10px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

.modal-register-button {
    cursor: pointer;
    background-color: #883eb0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    margin: auto;
    display: block;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border: none;
}