.temp-cont {
	font-size: 7px;
	border: #8f2ecf 1px solid;
	width: 350px;
	margin: auto;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 48.25em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 48.25em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"PFRFCA+Raleway-Light";
	src:url("fca61f61-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2em;
	font-family: "PFRFCA+Raleway-Light";
	color: #000000;
}
.stl_08 {
	line-height: 1.174em;
}
.stl_09 {
	letter-spacing: 0.0797em;
}

.ie .stl_09 {
	letter-spacing: 2.5493px;
}
@font-face {
	font-family:"KWMSUI+Raleway-Bold";
	src:url("553f41c9-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 3.333333em;
	font-family: "KWMSUI+Raleway-Bold", "Times New Roman";
	color: #000000;
}
.stl_11 {
	letter-spacing: 0em;
}

.ie .stl_11 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"AFCOPF+Raleway-SemiBold";
	src:url("4e234e3e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 1.166667em;
	font-family: "AFCOPF+Raleway-SemiBold";
	color: #000000;
}
.stl_13 {
	font-size: 0.666667em;
	font-family: "PFRFCA+Raleway-Light";
	color: #000000;
}
.stl_14 {
	letter-spacing: 0.0915em;
}

.ie .stl_14 {
	letter-spacing: 0.976px;
}
.stl_15 {
	letter-spacing: 0.0953em;
}

.ie .stl_15 {
	letter-spacing: 1.0164px;
}
.stl_16 {
	letter-spacing: 0.0976em;
}

.ie .stl_16 {
	letter-spacing: 1.0408px;
}
.stl_17 {
	letter-spacing: 0.098em;
}

.ie .stl_17 {
	letter-spacing: 1.0457px;
}
.stl_18 {
	letter-spacing: 0.099em;
}

.ie .stl_18 {
	letter-spacing: 1.0558px;
}
.stl_19 {
	letter-spacing: 0.0983em;
}

.ie .stl_19 {
	letter-spacing: 1.0487px;
}
.stl_20 {
	letter-spacing: 0.0974em;
}

.ie .stl_20 {
	letter-spacing: 1.0384px;
}
.stl_21 {
	letter-spacing: 0.0994em;
}

.ie .stl_21 {
	letter-spacing: 1.0599px;
}
.stl_22 {
	letter-spacing: 0.1em;
}

.ie .stl_22 {
	letter-spacing: 1.0667px;
}
.stl_23 {
	letter-spacing: 0.0909em;
}

.ie .stl_23 {
	letter-spacing: 0.9691px;
}
.stl_24 {
	font-size: 0.833333em;
	font-family: "AFCOPF+Raleway-SemiBold";
	color: #545456;
}
.stl_25 {
	letter-spacing: 0.0982em;
}

.ie .stl_25 {
	letter-spacing: 1.0478px;
}
.stl_26 {
	letter-spacing: 0.0936em;
}

.ie .stl_26 {
	letter-spacing: 0.9982px;
}
.stl_27 {
	letter-spacing: 0.0995em;
}

.ie .stl_27 {
	letter-spacing: 1.0615px;
}
.stl_28 {
	letter-spacing: 0.0963em;
}

.ie .stl_28 {
	letter-spacing: 1.0267px;
}
.stl_29 {
	letter-spacing: 0.0969em;
}

.ie .stl_29 {
	letter-spacing: 1.0335px;
}
.stl_30 {
	letter-spacing: 0.0959em;
}

.ie .stl_30 {
	letter-spacing: 1.0229px;
}
.stl_31 {
	letter-spacing: -0.01em;
}

.ie .stl_31 {
	letter-spacing: -0.1067px;
}
.stl_32 {
	letter-spacing: 0.093em;
}

.ie .stl_32 {
	letter-spacing: 0.992px;
}
.stl_33 {
	letter-spacing: 0.0893em;
}

.ie .stl_33 {
	letter-spacing: 0.9529px;
}
.stl_34 {
	letter-spacing: 0.0979em;
}

.ie .stl_34 {
	letter-spacing: 1.0443px;
}
.stl_35 {
	letter-spacing: 0.0938em;
}

.ie .stl_35 {
	letter-spacing: 1.0009px;
}
