<div id="Test" lang="en-US">
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer000">
            <img class="_idGenObjectAttribute-1" src="Test-web-resources-2/image/icons8-marker-24.png" alt=""/>
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer001">
            <img class="_idGenObjectAttribute-1" src="Test-web-resources-2/image/icons8-call-32.png" alt=""/>
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer002">
            <img class="_idGenObjectAttribute-1" src="Test-web-resources-2/image/icons8-new-post-32.png" alt=""/>
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer003" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer004" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer005" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer006" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer007" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer008" class="Графический-фрейм">
        </div>
    </div>
    <div id="_idContainer009" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-1">CONTACT</span></p>
    </div>
    <div id="_idContainer010" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-1">SKILLS</span></p>
    </div>
    <div id="_idContainer011" class="Текстовый-фрейм">
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Graphic Design</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">UI/UX Design</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Web Design</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Project Management</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Market Research</span>
        </p>
    </div>
    <div id="_idContainer012" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-1">EDUCATION</span></p>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer013" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer014" class="Графический-фрейм">
        </div>
    </div>
    <div id="_idContainer015" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-3">IVAN</span></p>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer016" class="Графический-фрейм">
        </div>
    </div>
    <div id="_idContainer017" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-4">Жопа ахахаха</span></p>
    </div>
    <div id="_idContainer018" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-2">Avenue Park NY-0123-USA</span></p>
    </div>
    <div id="_idContainer019" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-2">+44 458-2356-2356</span></p>
    </div>
    <div id="_idContainer020" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-2">sam.william@gmail.com</span></p>
    </div>
    <div id="_idContainer021" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-5">DEGREE TITLE</span></p>
    </div>
    <div id="_idContainer022" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-2">UNIVERSITY NAME</span></p>
        <p class="основной-абзац"><span class="CharOverride-2">Major Subject</span></p>
        <p class="основной-абзац"><span class="CharOverride-2">2030 - 2034</span></p>
    </div>
    <div id="_idContainer023" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-5">DEGREE TITLE</span></p>
    </div>
    <div id="_idContainer024" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-2">UNIVERSITY NAME</span></p>
        <p class="основной-абзац"><span class="CharOverride-2">Major Subject</span></p>
        <p class="основной-абзац"><span class="CharOverride-2">2030 - 2034</span></p>
    </div>
    <div id="_idContainer025" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-1">INTERESTS</span></p>
    </div>
    <div id="_idContainer026" class="Текстовый-фрейм">
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Photography</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Swimming</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span
                class="CharOverride-2">Riding</span></p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span
                class="CharOverride-2">Travel</span></p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Calligraphy</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span
                class="CharOverride-2">Writing</span></p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Blogging</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Researching</span>
        </p>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer027" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer028" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer029" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer030" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer031" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer032" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer033" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer034" class="Графический-фрейм">
        </div>
    </div>
    <div class="_idGenObjectLayout-1">
        <div id="_idContainer035" class="Графический-фрейм">
        </div>
    </div>
    <div id="_idContainer036" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-1">PROFILE</span></p>
    </div>
    <div id="_idContainer037" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-2">Itae audi voluptatum audandant rest acilign atemporpore nes non pratemp orest, tem quost aut vernatius doluptae volum vellorrum inctaque ommolor porehenit plictur as et, sit liquasped quiatquam, sectur? Quiatis itatis eiciet aut et fuga. Itamuscim reptasp.</span>
        </p>
    </div>
    <div id="_idContainer038" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-1">EXPERIENCE</span></p>
    </div>
    <div id="_idContainer039" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-5">JOB TITLE HERE | 2034 - PRESENT</span></p>
    </div>
    <div id="_idContainer040" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-5">COMPANY NAME</span></p>
    </div>
    <div id="_idContainer041" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-2">Itae audi voluptatum audandant rest acilign atemporpore nes non pratemp orest, tem quost aut vernatius doluptae volum vellorrum inctaque ommolor porehenit plictur as et.</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Por a duntur aut qui omnienist amene nobitatur Quia si aut </span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">molute vel exerior susdaes volupta ectiis et liquas solorep tatur. </span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Quiae eaquis apienet rerro evenimus parunt magnihil modiatur.</span>
        </p>
    </div>
    <div id="_idContainer042" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-5">JOB TITLE HERE | 2030 - 2034</span></p>
    </div>
    <div id="_idContainer043" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-5">COMPANY NAME</span></p>
    </div>
    <div id="_idContainer044" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-2">Itae audi voluptatum audandant rest acilign atemporpore nes non pratemp orest, tem quost aut vernatius doluptae volum vellorrum inctaque ommolor porehenit plictur as et.</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Por a duntur aut qui omnienist amene nobitatur Quia si aut </span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">molute vel exerior susdaes volupta ectiis et liquas solorep tatur. </span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Quiae eaquis apienet rerro evenimus parunt magnihil modiatur.</span>
        </p>
    </div>
    <div id="_idContainer045" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-5">JOB TITLE HERE | 2030 - 2034</span></p>
    </div>
    <div id="_idContainer046" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-5">COMPANY NAME</span></p>
    </div>
    <div id="_idContainer047" class="Текстовый-фрейм">
        <p class="основной-абзац"><span class="CharOverride-2">Itae audi voluptatum audandant rest acilign atemporpore nes non pratemp orest, tem quost aut vernatius doluptae volum vellorrum inctaque ommolor porehenit plictur as et.</span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Por a duntur aut qui omnienist amene nobitatur Quia si aut </span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">molute vel exerior susdaes volupta ectiis et liquas solorep tatur. </span>
        </p>
        <p class="основной-абзац ParaOverride-1"><span class="_idGenBNMarker-1">•</span><span class="CharOverride-2">Quiae eaquis apienet rerro evenimus parunt magnihil modiatur.</span>
        </p>
    </div>
</div>
