.contact-container {
    background-color: #e0e0e0;
    width: 100%;
    border-radius: 10pt;
}

.contact-content-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
}

.contact-fullname-label {

}