.temp-cont {
    font-size: 7px;
    border: #8f2ecf 1px solid;
    width: 300px;
    margin: auto;
    padding-left: 5em;
    padding-right: 4em;
    min-height: 65em;
}

@font-face {
    font-family: "AFCOPF+Raleway-SemiBold";
    src: url("./4e234e3e-0000-0000-0000-000000000000.woff") format("woff");
}

@font-face {
    font-family: "KWMSUI+Raleway-Bold";
    src: url("./553f41c9-0001-0000-0000-000000000000.woff") format("woff");
}

@font-face {
    font-family: "PFRFCA+Raleway-Light";
    src: url("./fca61f61-0000-0000-0000-000000000000.woff") format("woff");
}

.standard__center {
    margin: auto;
    margin-top: 0.5em;
}

.standard__vertical-line {
    height: 8em;
    width: 0.1em;
    background: #000000;
}

.standard__vertical-line-tiny {
    height: 2em;
    width: 0.1em;
    background: #000000;
}

.standard__vertical-line-small {
    height: 5em;
    width: 0.1em;
    background: #000000;
}

.standard__content-wrapper {
    width: 50em;
    margin: auto;
}

.standard__name-wrapper {

}

.standard__name-wrapper-first-name {
    font-family: "PFRFCA+Raleway-Light", sans-serif;
}

.standard__name-wrapper-last-name {
    font-family: "KWMSUI+Raleway-Bold", sans-serif;
    font-size: 3.5em;
}

.standard__left-col {
    margin: 0;
    width: 40%;
    display: inline-block;
}

.standard__left-col-personal-container {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.standard__right-col {
    margin: 0;
    width: 58%;
    display: inline-block;
    vertical-align: top;
}

.standard__main-container {
    font-family: "PFRFCA+Raleway-Light", sans-serif;
}

.standard__right-col-description-wrapper {
    padding-top: 2.5em;
    padding-bottom: 2em;
}

.standard__right-col-description-wrapper p {
    margin: 0;
    font-family: "PFRFCA+Raleway-Light", sans-serif;
}

.standard__left-col-interests {
    padding-left: 3em;
    padding-top: 1em;
}

.standard__up-circle {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: #ffffff;
    border: 0.1em solid #000000;
    position: relative;
}

.standard__up-circle-small {
    position: absolute;
    left: 0.155em;
    top: 0.155em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background: #ffffff;
    border: 0.1em solid #000000;
}

.standard__line-container {
    width: 1.1em;
    display: inline-block;
    vertical-align: top;
}

.standard__exp-container {
    display: inline-block;
    width: 25em;
    vertical-align: top;
    margin-left: 2em;
}

.standard__right-col-job-title {
    margin: 0;
}

.standard__right-col-company-name {
    margin: 0;
}

.standard__left-col-edu-container-content {
    width: 15em;
    display: inline-block;
    margin-left: 1em;
}

.standard__experience-container {
    display: block;
}
