.main-page-header-container {
    text-align: center;
    font-size: 26px;
    padding-bottom: 25px;
}

.main-page-header-container h1 {
    margin: 0;
}

.easy-style {
    color: #9636d5;
}

.left-logo-text-containter {
    padding-top: 200px;
    color: #ffffff;
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 50px;
}

.left-logo-text-containter h2 {
    font-size: 50px;

}

.left-logo-text-containter ul {
    list-style: none;
    padding-inline-start: 0;
}

.left-logo-text-containter ul li {
    margin-top: 15px;
}

.main-page-button-container {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #9636d5;
    width: 165px;
    margin: auto;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 26px;
    cursor: pointer;
}

.main-screen {
    background: url("./mainscreen.png") no-repeat;
    background-size: 100%;
    width:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.why-we-text-containter {
    padding-top: 150px;
    color: #ffffff;
    text-align: center;
    padding-right: 80px;
    padding-bottom: 50px;
}

.why-we-text-containter h2 {
    font-size: 50px;
}

.why-we-text-containter ul {
    list-style: none;
    padding-inline-start: 0;
}

.why-we-text-containter ul li {
    margin-top: 15px;
}