.email-modal-header-container h2{
    text-align: center;
    color: #9636d5;
    font-size: 55px;
    margin: 0;
}

.email-modal-header-container {
    padding-bottom: 20px;
    padding-top: 20px;
}

.email-modal-body-container {
    width: 80%;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 35px;
}

.email-modal-send-button {
    width: 105px;
    text-align: center;
    background-color: #9636d5;
    color: #ffffff;
    height: 35px;
    line-height: 35px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.email-modal-input-wrappers input{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
