.hidden {
    display: none;
    height: 100%;
}

.hide-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #d4dae7;
}

.section-form-wrapper {
   width: 100%;
}

.section-header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
}

.section-content {

}

.section-wrapper {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}