.purchase-title-container {

}

.purchase-container {
    display: flex;
    justify-content: space-between;
}

.purchase-left-container {
    width: 85%;
}

.purchase-right-container {
    width: 85%;
}

.purchase-congrat-text-container {

}

.purchase-save-template-button-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.purchase-save-template-button {
    color: #9636d5;
}

.purchase-product-description-text-container {

}

.purchase-choose-yourself {
    text-align: center;
}

.purchase-bottom-button-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 30px;
}

.purchase-left-container-content {
}