.screen-container {
    width: 1250px;
    margin: auto;
}

@media (max-width: 1250px) {
    .screen-container {
        width: 100%;
        margin: auto;
    }
}

.input-user-default {
    margin: auto 0 17px;
    display: block;
    width: 100%;
    border-width: 2px;
    border-color: #d4dae7;
    text-decoration: none;
    padding: 10px 0 10px 16px;
    border-radius: 15px;
    border-style: solid;
    box-sizing: border-box;
    height: 42px;
}

*:focus {
    border-color: #883eb0;
    outline: none;
}

.default-link {
    text-decoration: none;
    cursor: pointer;
}

main {
    font-family: "Gothic Century", sans-serif;
}

@font-face {
    font-family: "Gothic Century";
    src: url("/GOTHIC.ttf") format('truetype');
}